*{padding:0;margin:0;}
input,button,select,textarea{outline:none;}


/*首页*/
.content{width:100%;}
.banner_img{width:100%;}
.banner_i{width:100%;}
.nav_icon{width:100%;float:left;margin-top:10%;}
.nav_icon_list{width:96%;padding:0 2%;float:left;}
.nav_icon_lists{width:33.1%;float:left;text-align: center;padding:4% 0;}
.nav_icon_lists_i{width:100%;}
.nav_icon_lists_name{width:100%;color:#444a64;font-size:16px;line-height:26px;}

/*首页*/

/*顶部导航*/
.page-header1{width: 100%;background-color:#f6f6f6;overflow: hidden;border-bottom:1px solid #d2d2d2;float:left;}
.back_img{width:5%;padding: 4% 0 0 2%;}
.page-header1 h3{position: relative;font-size:20px;color: #000;width:90%;float:left;font-weight: normal;text-align: center;padding: 0.7em 0;float:left;}
/*顶部导航*/

/*在线发卡*/
.hair_card{width:100%;padding:4% 0;float: left;background:#f6f6f6;border-bottom:1px solid #e3e3e3;}
.head_portrait{width:100%;text-align: center;}
.head_nickname{width:100%;color:#323232;font-size:16px;line-height:26px;text-align: center;}
.head_icon{width:100%;text-align: center;}
.head_prompt{width:98%;padding:0 0 0 2%;color:#aaaaaa;font-size:14px;line-height:26px;}
.hair_card_list{width:100%;background:#fff;float: left;}
.hair_card_lists{width:96%;padding:3% 2%;border-bottom:1px solid #e3e3e3;float: left;}
.hari_div{width:30%;float:left;color:#323232;font-size:14px;line-height:26px;}
.inp_place{color:#868686;font-size:14px;line-height:26px;border:none;background:none;width:70%;float:left;}
.inp_places{color:#868686;font-size:14px;line-height:26px;border:none;background:none;width:70%;float:left;}
.hair_btn{width:96%;margin:4% 2%;float: left;}
.btn_hair_card{background:#10ba5c;color:#fff;border:none;border-radius:20px;width:100%;padding:2% 0;font-size:14px;line-height:26px;}
/*在线发卡*/

/*卡片管理*/
.card_management{width:100%;float:left;}
.query{width:96%;float:left;text-align:right;border-bottom:1px solid #d2d2d2;padding:3% 2%;color:#323232;font-size:16px;line-height:26px;}
.card_summary{width:100%;float:left;background:#fff;}
.card_total{width:96%;float:left;padding:3% 2%;border-bottom:1px solid #d2d2d2;color:#323232;}
.card_classification{width:96%;float:left;padding:3% 2%;border-bottom:1px solid #d2d2d2;}
.total_number{width:100%;color:#323232;font-size:20px;padding:2% 0;text-align: center;}
.total_num{width:100%;color:#df3d3e;font-size:20px;padding:2% 0;text-align: center;}
.total_list{width:90%;padding:3% 5%;float:left;}
.total_lists{width:33.3%;float:left;text-align:center;}
.total_real_name{width:100%;color:#919191;font-size:14px;line-height:26px;}
.total_real_num{width:100%;color:#323232;font-size:14px;line-height:26px;}
.total_state{width:96%;float:left;margin:2%;}
.total_state_list{width:96%;float: left;background:#fff;border-radius:10px;padding:2%;margin:2% 0;}
.total_state_list_top{width:100%;float:left;padding:1% 0;}
.total_state_list_top_serial{width:70%;float:left;color:#323232;font-size:16px;line-height:26px;}
.total_state_list_top_serial .state{color:#2ca0e3;font-size:14px;line-height:26px;display:inline-block;padding:0 2%;}
.total_state_list_top_amount{width:30%;float:left;text-align: right;color:#9f9f9f;font-size:14px;line-height:26px;}
.total_state_list_centen{width:100%;float:left;padding:1% 0;}
.total_state_list_centen_serial{width:55%;float:left;color:#323232;font-size:12px;line-height:26px;}
.total_state_list_centen_btn{width:45%;float:left;text-align: right;}
.btn_loss{padding:2% 4%;background:#f2a81b;border-radius:20px;border:none;color:#fff;line-height:16px;font-size:12px;}
.btn_refresh{padding:2% 4%;background:#2ca0e3;border-radius:20px;border:none;color:#fff;line-height:16px;font-size:12px;}
.btn_remove{padding:2% 4%;background:#df3d3e;border-radius:20px;border:none;color:#fff;line-height:16px;font-size:12px;}
.btn_fill{padding:2% 4%;background:#10ba5c;border-radius:20px;border:none;color:#fff;line-height:16px;font-size:12px;}
.btn_refreshs{padding:2% 4%;background:#2ca0e3;border-radius:20px;border:none;color:#fff;line-height:16px;font-size:12px;}
.total_state_list_bottom{width:100%;float:left;padding:1% 0;}
.s_real_name{padding:0% 1%;border:1px solid #10ba5c;color:#10ba5c;font-size:12px;line-height:26px;}
.s_name{color:#9f9f9f;font-size:12px;line-height:26px;}
.s_phone{color:#9f9f9f;font-size:12px;line-height:26px;}
.s_nickname{color:#9f9f9f;font-size:12px;line-height:26px;}

/*卡片管理弹框*/
.pop-panel2 .details{width:100%;background:#f6f6f6;float:left;padding:2%;}
.pop-panel2 {width: 100%;height:100%;position: fixed;left:0;top:8%;z-index:999;display: none;background:#f6f6f6;}
.pop-panel2 .show {display: block!important;}
.pop-panel2 .details {overflow: hidden;width:100%;height: auto;position: absolute;top:1%;right:-8px;}
.pop-panel2 .query_list{width:100%;margin:2% 0;}
.query_lists{width:96%;padding:3% 2%;float:left;background:#fff;border-bottom:1px solid #e3e3e3;}
.query_lists_left{width:20%;float:left;font-size:16px;line-height:26px;color:#323232;}
.query_lists_right{width:80%;float:left;}
.query_card_number_inps{width:100%;border:none;background:none;font-size:16px;line-height:26px;color:#868686;}
.query_card_name_inps{width:100%;border:none;background:none;font-size:16px;line-height:26px;color:#868686;}
.query_card_phone_inps{width:100%;border:none;background:none;font-size:16px;line-height:26px;color:#868686;}
.query_card_big_inps{width:100%;border:none;background:none;font-size:16px;line-height:26px;color:#868686;}
.query_card_small_inps{width:100%;border:none;background:none;font-size:16px;line-height:26px;color:#868686;}
.query_btn{width:90%;margin:10% 5%;float:left;}
.query_btns{width:100%;float:left;}
.query_btn_cancel{width:50%;float:left;text-align: center;}
.btn_cancel{width:65%;background:#ebebeb;color:#646464;font-size:16px;line-height:26px;padding:5% 8%;border:none;border-radius:25px;}
.query_btn_confirm{width:50%;float:left;text-align: center;}
.btn_confirm{width:65%;background:#10ba5c;color:#fff;font-size:16px;line-height:26px;padding:5% 8%;border:none;border-radius:25px;}
/*卡片管理*/

/*设备管理*/
.equipment_management{width:96%;float:left;padding:3% 2%;border-bottom:1px solid #d2d2d2;color:#323232;background:#fff;}
.equipment_list{width:96%;float:left;margin:2%;}
.equipment_lists{width:96%;float: left;background:#fff;border-radius:10px;padding:2%;margin:2% 0;}
.equipment_lists_top{width:100%;float:left;padding:1% 0;float:left;color:#323232;font-size:16px;line-height:26px;}
.equipment_lists_top .personnel{color:#9f9f9f;font-size:12px;line-height:26px;display:inline-block;padding:0 1%;}
.equipment_lists_center{width:100%;float:left;padding:1% 0;}
.equipment_state{width:75%;float:left;}
.equipment_btn{width:25%;float:left;}
.equipment_states01{width:100%;float:left;}
.equipment_states{width:100%;float:left;}
.note_name{color:#9f9f9f;font-size:12px;line-height:26px;display:inline-block;padding:0 1%;}
.equipment_states_name{width:60%;float:left;font-size:12px;line-height:23px;}
.equipment_states span{display:inline-block;}
.equipment_online{padding:1% 4%;border:1px solid #17e1d5;color:#17e1d5;font-size:12px;line-height:18px;}
.equipment_offline{padding:1% 4%;border:1px solid #f2a81b;color:#f2a81b;font-size:12px;line-height:18px;}
.equipment_problem{padding:1% 4%;border:1px solid #df3d3e;color:#df3d3e;font-size:12px;line-height:18px;}
.equipment_problem1{padding:1% 4%;border:1px solid #2478FF;color:#2478FF;font-size:12px;line-height:18px;}
.equipment_problem2{padding:1% 4%;border:1px solid #EF4C36;color:#EF4C36;font-size:12px;line-height:18px;}
.equipment_problem3{padding:1% 4%;border:1px solid #DD39FD;color:#DD39FD;font-size:12px;line-height:18px;}
.btn_change{padding:3% 5%;background:#10ba5c;border:none;border-radius:10px;color:#fff;float:left;margin:0 1%;}
.btn_mores{padding:3% 5%;background:#2ca0e3;border:none;border-radius:10px;color:#fff;float:left;margin:0 1%;}

/*设备编辑*/
.equiment_revise{width:80%;margin:0 auto;}
.equiment_revise_list{width:100%;float:left;padding-top: 10%;}
.equiment_revise_lists{width:96%;padding:3% 2%;float:left;background:none;border:2px solid #B1B1AD;border-radius: 20px;margin-top: 5%;}
.equiment_revise_list_left{width:30%;float:left;font-size:16px;line-height:26px;color:#fff;}
.equiment_revise_list_right{width:70%;float:left;}
.equiment_revise_list_img{width:10%;float:left;}
.equiment_revise_id_inps{width:100%;border:none;background:none;font-size:16px;line-height:26px;color:#fff;}
.equiment_revise_name_inps{width:100%;border:none;background:none;font-size:16px;line-height:26px;color:#868686;}
.equiment_revise_ascription_inps{width:100%;border:none;background:none;font-size:16px;line-height:26px;color:#868686;padding:0 2%;}
.equipment_btn_keep{width:96%;margin:6% 2% 0;text-align: center;float:left;}
.equipment_btn_keep .btn_keep{width:85%;    background: url(../images/shezhi.png) no-repeat;color:#fff;font-size:20px;line-height:26px;padding:2% 0;border:none;border-radius:20px;}
/*设备编辑弹框*/
.pop_ascription{position:relative;top:0;}
.ascription_details{width:100%;margin:0 2%;background:#fff;border:1px solid #fff;float:left;border-radius:5px;padding:2%;}
.show {display: block!important;}
.ascription_details {border-radius: 6px;overflow: hidden;padding:5% 2%;background-color: #fff;width:90%;height: auto;position:relative;top:57%;right:0;box-shadow:3px 3px 20px #000;}
.ascription_list{width:100%;float:left;}
.ascription_list_center{width:76%;float:left;line-height:36px;font-size:16px;padding:0 2%;}
.ascription_list_left .timecar-radio {position: relative;float: left;width:100%;height:2em;padding: 10% 0;}
.ascription_list_left .timecar-radio label {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../img/icon_circle_green.png) no-repeat;background-size:80%;background-position: 50%;-moz-user-select: none;}
.ascription_list_left .timecar-radio .timecar-radioed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../img/icon_circle_grey.png) no-repeat;background-size:80%;background-position: 50%;}
.ascription_list_left input[type="radio"] {position: absolute;top:34%;left:37%;opacity: 0;}
.ascription_list_left{width:10%;float:left;}

/*设备详情*/
.sidenav{width:100%;float:left;}
.equipment_details{width:100%;float:left;}
.equipment_details .active{color:#10ba5c;border-bottom:1px solid #00D8FF;}
.new_l_l{padding:4% 0;display:inline-block;width:50%;float:left;text-align:center;}
.sidenav .active{color:#10ba5c;}
.scd_r{width:100%;float:left;}
.equipments_list{width:100%;float:left;margin:5% 0 0 0;background:#0021A2;}
.equipments_lists{width:100%;float:left;}
.equipments_lists_d{width:96%;padding:3% 2%;float:left;border-bottom:1px solid #2D105E;}
.equipment_details_list{width:50%;float:left;color:#fff;font-size:16px;line-height:26px;}
.equipment_water_source_state_number{color:#df3d3e;}

/*设备管理查询弹框*/
.pop-panel2 .motherboard_list{width:100%;margin:2% 0;}
.motherboard_lists{width:96%;padding:3% 2%;float:left;background:#fff;border-bottom:1px solid #e3e3e3;}
.motherboard_lists_left{width:25%;float:left;font-size:16px;line-height:26px;color:#323232;}
.motherboard_lists_right{width:75%;float:left;}
.network_state_inp{width:75%;float:left;}
.status{width:100%;float:left;}
.on-line{width:50%;float:left;}
.off-line{width:50%;float:left;}
.on-line_list_left{width:25%;float:left;}
.on-line_list_center{width:25%;float:left;}
.on-line_list_left .timecar-radio {position: relative;float: left;width:100%;height:1.8em;}
.on-line_list_left .timecar-radio label {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../img/icon_circle_green.png) no-repeat;background-size:100%;background-position: 50%;-moz-user-select: none;}
.on-line_list_left .timecar-radio .timecar-radioed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../img/icon_circle_grey.png) no-repeat;background-size:100%;background-position: 50%;}
.on-line_list_left input[type="radio"] {position: absolute;top:34%;left:37%;opacity: 0;}
.on-line_list_left{width:10%;float:left;}
.on-line_list_center{width:76%;float:left;line-height:28px;font-size:16px;padding:0 2%;}

.motherboard_number_inps{width:100%;border:none;background:none;font-size:16px;line-height:26px;color:#868686;}
.motherboard_firm_inps{width:100%;border:none;background:none;font-size:16px;line-height:26px;color:#868686;}
.water_operators_inps{width:100%;border:none;background:none;font-size:16px;line-height:26px;color:#868686;}
.device_status_inps{width:100%;border:none;background:none;font-size:16px;line-height:26px;color:#868686;}
.device_status_list_img{width:10%;float:left;}
.query_btn{width:90%;margin:10% 5%;float:left;}
.query_btns{width:100%;float:left;}
.query_btn_cancel{width:50%;float:left;text-align: center;}
.btn_cancel{width:65%;background:#ebebeb;color:#646464;font-size:16px;line-height:26px;padding:5% 8%;border:none;border-radius:25px;}
.query_btn_confirm{width:50%;float:left;text-align: center;}
.btn_confirm{width:65%;background:#10ba5c;color:#fff;font-size:16px;line-height:26px;padding:5% 8%;border:none;border-radius:25px;}

/*设备管理设备状态弹框*/
.device_status_details {border-radius: 6px;overflow: hidden;padding:5% 2%;background-color: #fff;width:90%;height: auto;position:relative;top:57%;right:-3%;box-shadow:3px 3px 20px #000;}
.device_status_list{width:100%;float:left;}
.device_status_list_center{width:76%;float:left;line-height:36px;font-size:16px;padding:0 2%;}
.device_status_list_left .timecar_radio {position: relative;float: left;width:100%;height:2em;padding: 10% 0;}
.device_status_list_left .timecar_radio label {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../img/icon_circle_green.png) no-repeat;background-size:80%;background-position: 50%;-moz-user-select: none;}
.device_status_list_left .timecar_radio .timecar_radioed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../img/icon_circle_grey.png) no-repeat;background-size:80%;background-position: 50%;}
.device_status_list_left input[type="radio"] {position: absolute;top:34%;left:37%;opacity: 0;}
.device_status_list_left{width:10%;float:left;}
/*设备管理*/

/*用户管理*/
.user_management{width:100%;float:left;}
.user_management_top{width:96%;float:left;padding:3% 2%;}
.user_management_add{width:30%;float:left;text-align:center;}
.user_management_search{width:70%;float:left;}
.mall_search_i{float:left;width:18%;text-align: center;height:1.9rem;background:#178da2;}
.mall_search_img{width:55%;padding:3% 0 0 0;}
.mall_search{background:#fff;border:1px solid #178da2;font-size:12px;line-height:30px;height:1.8rem;float:left;width:78%;padding:0 0 0 2%;}
.user_management_center{width:100%;float:left;}
.user_management_center_list{width:100%;float:left;}
.user_management_center_lists{width:96%;padding:3% 2%;float:left;border-bottom:1px solid #eaeaea;}
.user_management_center_lists_photo{width:14%;float:left;}
.user_management_center_lists_message{width:46%;float:left;}
.user_nickname{color:#323232;font-size:1rem;line-height:1.6rem;}
.uesr_merchant{color:#2ca0e3;font-size:0.6rem;line-height:1.6rem;}
.uear_phone{color:#9f9f9f;font-size:0.6rem;line-height:1.6rem;}
.user_management_center_lists_operate{width:40%;float:left;padding:3% 0;}
.user_delete{background:none;border:1px solid #df3d3e;color:#df3d3e;padding:1% 4%;border-radius:15px;font-size:0.8rem;line-height:1.2rem;margin:0 1%;}
.user_compile{background:none;border:1px solid #2ca0e3;color:#2ca0e3;padding:1% 4%;border-radius:15px;font-size:0.8rem;line-height:1.2rem;margin:0 1%;}
.user_kiting{background:#10ba5c;border:1px solid #10ba5c;color:#fff;padding:1% 4%;border-radius:15px;font-size:0.8rem;line-height:1.2rem;margin:0 1%;}

/*添加*/
.add_account{width: 85%;padding-top: 20%;margin: 0 auto;}
.add_account_list{width:100%;float:left;margin:5% 0 0 0;}
.add_account_lists{width: 96%;padding: 3% 2%;float: left;background: none;border: 2px solid #B1B1AD;border-radius: 20px; margin-top: 5%;}
.add_account_lists_left{width:25%;float:left;color:#fff;font-size:1rem;line-height:1.4rem;}
.add_account_lists_right{width:75%;float:left;}
.add_account_inp{width:100%;background:none;border:none;font-size:1rem;line-height:1.4rem;color:#868686;}
.add_account_btn{width:85%;    margin: 0 auto;}
.btn_add{width: 100%;background: url(../images/shezhi.png) no-repeat;color: #fff;font-size: 20px;line-height: 26px;padding: 2% 0;border: none; border-radius: 20px;margin-top: 7%;}

/*编辑页面*/
.information_editing{width:100%;float:left;}
.information_editing_list{width:100%;float:left;margin:5% 0 0 0;}
.information_editing_lists{width:96%;float:left;padding:4% 2%;background:#fff;border-bottom:1px solid #e3e3e3;}
.information_editing_lists_left{width:25%;float:left;color:#323232;font-size:1rem;line-height:1.4rem;}
.information_editing_lists_right{width:75%;float:left;}
.information_editing_inp{width:100%;background:none;border:none;font-size:1rem;line-height:1.4rem;color:#868686;}
.information_editing_btn{width:100%;float:left;margin:8% 0 0 0;}
.btn_editor{width:96%;margin:0 2%;background:#10ba5c;color:#fff;font-size:16px;line-height:26px;padding:2% 0;border:none;border-radius:20px;}

/*提现页面*/
.withdraw_deposit{width:100%;float:left;}
.withdraw_deposit_list{width:100%;float:left;margin:5% 0 0 0;}
.withdraw_deposit_lists{width:96%;float:left;padding:4% 2%;background:#fff;border-bottom:1px solid #e3e3e3;}
.withdraw_deposit_lists_left{width:45%;float:left;color:#323232;font-size:1rem;line-height:1.4rem;}
.withdraw_deposit_lists_right{width:55%;float:left;}
.withdraw_deposit_inp{width:100%;background:none;border:none;font-size:1rem;line-height:1.4rem;color:#868686;}
.withdraw_deposit_btn{width:100%;float:left;margin:8% 0 0 0;}
.btn_kiting_editor{width:96%;margin:0 2%;background:#10ba5c;color:#fff;font-size:16px;line-height:26px;padding:2% 0;border:none;border-radius:20px;}

/*用户管理*/

/*商品管理*/
.commodity_management{width: 96%;float: left;padding: 3% 2%;}
.commodity_management_add{width:30%;float:left;}
.commodity_management_query{width:66%;float:left;text-align:right;padding:0 2%;color:#323232;font-size:16px;line-height:26px;}
.commodity_management_list{width:92%;margin:2%;float:left;padding:3% 2%;background:#fff;border-radius:10px;}
.thrash_name{width:100%;float:left;color:#323232;font-size:16px;line-height:26px;}
.water_purification{color:#9f9f9f;font-size:12px;line-height:26px;padding:0 0 0 2%;}
.attributes{width:100%;float:left;}
.attributes_left{width:30%;float:left;line-height:26px;}
.consume{padding:1% 3%;border:1px solid #17e1d5;background:none;color:#17e1d5;}
.grounding{padding:1% 3%;border:1px solid #2ca0e3;background:none;color:#2ca0e3;}
.recharge{padding:1% 3%;border:1px solid #f2a81b;background:none;color:#f2a81b;}
.already_down{padding:1% 3%;border:1px solid #df3d3e;background:none;color:#df3d3e;}
.attributes_centent{width:50%;float:left;}
.univalent{display:inline-block;color:#9f9f9f;font-size:12px;line-height:26px;}
.give{display:inline-block;color:#9f9f9f;font-size:12px;line-height:26px;}
.attributes_right{width:20%;float:left;text-align: center;}
.btn_undercarriage{padding:1% 10%;background:#df3d3e;border:none;color:#fff;font-size:12px;line-height:26px;border-radius:15px;}
.btn_grounding{padding:1% 10%;background:#2ca0e3;border:none;color:#fff;font-size:12px;line-height:26px;border-radius:15px;}
/*商品添加*/
.commodity_addition{width:100%;float:left;}
.commodity_addition_list{width: 100%;float: left;margin: 5% 0 0 0;}
.commodity_addition_lists{width: 96%;float: left;padding: 4% 2%;background: #fff;border-bottom: 1px solid #e3e3e3;}
.commodity_addition_lists_left{width: 25%;float: left;color: #323232;font-size: 1rem;line-height: 1.4rem;}
.commodity_addition_lists_right{width: 75%;float: left;}
.commodity_name_inp{width: 100%;background: none;border: none;font-size: 1rem;line-height: 1.4rem;color: #868686;}
.unit_price_inp{width: 100%;background: none;border: none;font-size: 1rem;line-height: 1.4rem;color: #868686;}
.donation_amount_inp{width: 100%;background: none;border: none;font-size: 1rem;line-height: 1.4rem;color: #868686;}
.consumes{width:50%;float:left;}
.recharges{width:50%;float:left;}
.consumes_list_left{width:25%;float:left;}
.consumes_list_center{width:25%;float:left;}
.consumes_list_left .timecar-radio {position: relative;float: left;width:100%;height:1.4em;}
.consumes_list_left .timecar-radio label {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../img/icon_circle_green.png) no-repeat;background-size:100%;background-position: 50%;-moz-user-select: none;}
.consumes_list_left .timecar-radio .timecar-radioed {position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../img/icon_circle_grey.png) no-repeat;background-size:100%;background-position: 50%;}
.consumes_list_left input[type="radio"] {position: absolute;top:34%;left:37%;opacity: 0;}
.consumes_list_left{width:10%;float:left;}
.consumes_list_center{width:76%;float:left;line-height:22px;font-size:16px;padding:0 2%;}
.commodity_addition_btn{width: 100%;float: left;margin: 8% 0 0 0;}
.btn_conserve{width: 96%;margin: 0 2%;background: #10ba5c;color: #fff;font-size:16px;line-height: 26px;padding: 2% 0;border: none;border-radius: 20px;}
/*查询弹框*/
.query_lists01_left{width: 25%;float: left;font-size:16px;line-height: 26px;color: #323232;}
.query_lists01_right{width: 75%;float: left;}
.commodity_name_inps{width: 100%;border: none;background: none;font-size:16px;line-height: 26px;color: #868686;}
.item_pricing_inps{width: 100%;border: none;background: none;font-size:16px;line-height: 26px;color: #868686;}
/*商品管理*/

/*扫码支付*/
.scan_pay{width:100%;float:left;}
.scan_pay_list{width: 100%;float: left;margin: 5% 0 0 0;}
.scan_pay_lists{width: 92%;float: left;margin:2%;background: #fff;padding:2%;border-radius:10px;}
.d_thrash{width:100%;font-size:16px;line-height:26px;color:#323232;border-bottom:1px solid #eeeeee;}
.d_payment{width:100%;float:left;}
.d_payment_left{width:50%;float:left;padding:3% 0%;color:#df3d3e;font-size:16px;line-height:26px;}
.d_payment_right{width:46%;float:left;text-align: right;padding:3% 2%;}
.btn_defray{padding:1% 10%;background:#2ca0e3;color:#fff;border:none;font-size:16px;line-height:26px;border-radius:15px;}
.d_give{display: inline-block;color:#2ca0e3;font-size:12px;line-height:26px;padding:0 2%;}
/*扫码支付*/

/*数据统计*/
.data_statistics{width:100%;float:left;}
.data_statistics_list{width:100%;float:left;}
.data_statistics_lists{width:96%;padding:3% 2%;border-bottom:1px solid #e3e3e3;float:left;}
.data_statistics_lists_left{width:10%;float:left;text-align: center;}
.data_statistics_lists_center{width:78%;float:left;font-size:16px;line-height:32px;padding:0 0 0 2%;color:#323232;}
.data_statistics_lists_right{width:10%;float:left;text-align: center;padding:2% 0 0 0;}
/*刷卡投币消费*/
.money_consumptions{width:100%;float:left;}
.query{width:96%;float:left;text-align:right;border-bottom:1px solid #d2d2d2;padding:3% 2%;color:#323232;font-size:16px;line-height:26px;}
.consumption_name{width:96%;float:left;padding:3% 2%;border-bottom:1px solid #d2d2d2;color:#323232;background:#fff;}
.coin_operated_lists{width:100%;float:left;}
.coin_operated_list{width:92%;float:left;margin:2%;padding:3% 2%;background:#fff;border-radius:10px;}
.coin_equipment_infor{width:100%;float:left;padding:1% 0;}
.coin_equipment_id{width:33%;float:left;color:#323232;font-size:16px;line-height:26px;}
.coin_equipment_number{width:33%;float:left;color:#2ca0e3;font-size:12px;line-height:26px;}
.coin_equipment_time{width:33%;float:left;color:#9f9f9f;font-size:12px;line-height:26px;text-align: right;}
.coin_equipment_money{width:100%;float:left;padding:1% 0;}
.coin_operated_money{width:30%;float:left;}
.coin_operated_name{color:#9f9f9f;font-size:12px;line-height:26px;}
.coin_operated_num{color:#df3d3e;font-size:12px;line-height:26px;}
.coin_pay_card_money{width:30%;float:left;}
.coin_pay_card_name{color:#9f9f9f;font-size:12px;line-height:26px;}
.coin_pay_card_num{color:#df3d3e;font-size:12px;line-height:26px;}
/*刷卡投币消费弹框*/
.credit_card .credit_card_details{width:100%;background:#f6f6f6;float:left;padding:2%;}
.credit_card {width: 100%;height:100%;position: fixed;left:0;top:8%;z-index:999;display: none;background:#f6f6f6;}
.credit_card .show {display: block!important;}
.credit_card .credit_card_details {overflow: hidden;width:100%;height: auto;position: absolute;top:1%;right:-8px;}
.credit_card .credit_card_list{width:100%;margin:2% 0;}
.credit_card_lists{width:96%;padding:3% 2%;float:left;background:#fff;border-bottom:1px solid #e3e3e3;}
.credit_card_lists_left{width:25%;float:left;font-size:16px;line-height:26px;color:#323232;}
.credit_card_lists_right{width:75%;float:left;}
.credit_card_id_inps{width: 100%;border: none;background: none;font-size:16px;line-height: 26px;color: #868686;}
.credit_card_number_inps{width: 100%;border: none;background: none;font-size:16px;line-height: 26px;color: #868686;}
/*刷卡投币消费弹框*/
.credit_card .credit_card_details{width:100%;background:#f6f6f6;float:left;padding:2%;}
.credit_card {width: 100%;height:100%;position: fixed;left:0;top:8%;z-index:999;display: none;background:#f6f6f6;}
.credit_card .show {display: block!important;}
.credit_card .credit_card_details {overflow: hidden;width:100%;height: auto;position: absolute;top:1%;right:-8px;}
.credit_card .credit_card_list{width:100%;margin:2% 0;}
.credit_card_lists{width:96%;padding:3% 2%;float:left;background:#fff;border-bottom:1px solid #e3e3e3;}
.credit_card_lists_left{width:25%;float:left;font-size:16px;line-height:26px;color:#323232;}
.credit_card_lists_right{width:75%;float:left;}
.credit_card_id_inps{width: 100%;border: none;background: none;font-size:16px;line-height: 26px;color: #868686;}
.credit_card_number_inps{width: 100%;border: none;background: none;font-size:16px;line-height: 26px;color: #868686;}
/*微信消费*/
.weChat_consumptions{width:100%;float:left;}
.query{width:96%;float:left;text-align:right;border-bottom:1px solid #d2d2d2;padding:3% 2%;color:#323232;font-size:16px;line-height:26px;}
.recharge_name{width:96%;float:left;padding:3% 2%;border-bottom:1px solid #d2d2d2;color:#323232;background:#fff;}
.recharge_record_lists{width:100%;float:left;}
.recharge_record_list{width:92%;float:left;margin:2%;padding:3% 2%;background:#fff;border-radius:10px;}
.recharge_record_infor{width:100%;float:left;padding:1% 0;}
.recharge_record_id{width:50%;float:left;color:#323232;font-size:16px;line-height:26px;}
.recharge_record_time{width:50%;float:left;color:#9f9f9f;font-size:12px;line-height:26px;text-align: right;}
.coin_equipment_data{width:100%;float:left;padding:1% 0;}
.coin_equipment_data_left{width:80%;float:left;}
.crad_recharge{border:1px solid #2ca0e3;color:#2ca0e3;padding:1% 3%;background:none;display:inline-block;font-size:12px;}
.crad_perfect{border:1px solid #df3d3e;color:#df3d3e;padding:1% 3%;background:none;display:inline-block;font-size:12px;}
.coin_equipment_data_right{width:20%;float:left;text-align: right;}
.btn_coin_equipment_data_more{background:#10ba5c;border:none;color:#fff;padding:2% 10%;border-radius:15px;font-size:12px;}
/*微信消费弹框*/
.firm_infor .firm_infor_details{width:100%;background:#f6f6f6;float:left;padding:2%;}
.firm_infor {width: 100%;height:100%;position: fixed;left:0;top:8%;z-index:999;display: none;background:#f6f6f6;}
.firm_infor .show {display: block!important;}
.firm_infor .firm_infor_details {overflow: hidden;width:100%;height: auto;position: absolute;top:1%;right:-8px;}
.firm_infor .firm_infor_list{width:100%;margin:2% 0;}
.firm_infor_lists{width:96%;padding:3% 2%;float:left;background:#fff;border-bottom:1px solid #e3e3e3;}
.firm_infor_lists_left{width:25%;float:left;font-size:16px;line-height:26px;color:#323232;}
.firm_infor_lists_right{width:75%;float:left;}
.firm_infor_name_inps{width: 100%;border: none;background: none;font-size:16px;line-height: 26px;color: #868686;}
.firm_infor_operator_inps{width: 100%;border: none;background: none;font-size:16px;line-height: 26px;color: #868686;}
.firm_infor_id_inps{width: 100%;border: none;background: none;font-size:16px;line-height: 26px;color: #868686;}
/*微信消费详情*/
.weChat_consumptions_details{width:100%;float:left;margin:5% 0 0 0;}
.weChat_consumptions_details_lists{width:100%;float:left;}
.weChat_consumptions_details_list{width:96%;float:left;padding:3% 2%;background:#fff;border-bottom:1px solid #e3e3e3;}
.weChat_consumptions_details_list_left{width:35%;float:left;color:#323232;font-size:14px;line-height:26px;}
.weChat_consumptions_details_list_right{width:65%;float:right;text-align: center;color:#323232;font-size:14px;line-height:26px;}
/*卡片充值记录*/
.recharge_records{width:100%;float:left;}
.recharge_records_lists{width:100%;float:left;}
.recharge_records_list{width:92%;float:left;margin:2%;padding:3% 2%;background:#fff;border-radius:10px;}
.recharge_records_infor{width:100%;float:left;padding:1% 0;}
.recharge_records_number{width:38%;float:left;color:#323232;font-size:16px;line-height:26px;}
.recharge_records_plain{float:left;color:#2ca0e3;border:1px solid #2ca0e3;font-size:12px;padding:1% 2%;}
.recharge_records_no_real{float:left;color:#f2a81b;border:1px solid #f2a81b;font-size:12px;padding:1% 2%;}
.recharge_records_time{width:38%;float:right;color:#9f9f9f;font-size:12px;line-height:26px;text-align: right;}
.recharge_records_money{width:100%;float:left;padding:1% 0;}
.recharge_records_left{width:50%;float:left;}
.recharge_records_name{color:#9f9f9f;font-size:12px;line-height:26px;}
.recharge_records_right{width:50%;float:left;text-align: right;}
.coin_pay_card_name{color:#9f9f9f;font-size:12px;line-height:26px;}
.coin_pay_card_num{color:#df3d3e;font-size:12px;line-height:26px;}
/*卡片充值记录查询*/
.tabulating_card .tabulating_card_details{width:100%;background:#f6f6f6;float:left;padding:2%;}
.tabulating_card {width: 100%;height:100%;position: fixed;left:0;top:8%;z-index:999;display: none;background:#f6f6f6;}
.tabulating_card .show {display: block!important;}
.tabulating_card .tabulating_card_details {overflow: hidden;width:100%;height: auto;position: absolute;top:1%;right:-8px;}
.tabulating_card .tabulating_card_list{width:100%;margin:2% 0;}
.tabulating_card_lists{width:96%;padding:3% 2%;float:left;background:#fff;border-bottom:1px solid #e3e3e3;}
.tabulating_card_lists_left{width:25%;float:left;font-size:16px;line-height:26px;color:#323232;}
.tabulating_card_lists_right{width:75%;float:left;}
.tabulating_card_name_inps{width: 100%;border: none;background: none;font-size:16px;line-height: 26px;color: #868686;}
.tabulating_card_compellation_inps{width: 100%;border: none;background: none;font-size:16px;line-height: 26px;color: #868686;}
.tabulating_card_phone_inps{width: 100%;border: none;background: none;font-size:16px;line-height: 26px;color: #868686;}
.tabulating_card_id_inps{width: 100%;border: none;background: none;font-size:16px;line-height: 26px;color: #868686;}
/*卡片充值记录详情*/
.recharge_record_details{width:100%;float:left;margin:5% 0 0 0;}
.recharge_record_details_lists{width:100%;float:left;}
.recharge_record_details_list{width:96%;float:left;padding:3% 2%;background:#fff;border-bottom:1px solid #e3e3e3;}
.recharge_record_details_list_left{width:35%;float:left;color:#323232;font-size:14px;line-height:26px;}
.recharge_record_details_list_right{width:65%;float:right;text-align: center;color:#323232;font-size:14px;line-height:26px;}
/*提现记录*/
.present_records{width:100%;float:left;}
.cash_name{width:96%;float:left;padding:3% 2%;border-bottom:1px solid #d2d2d2;color:#323232;background:#fff;}
.present_records_lists{width:100%;float:left;}
.present_records_list{width:92%;float:left;margin:2%;padding:3% 2%;background:#fff;border-radius:10px;}
.present_records_infor{width:100%;float:left;padding:1% 0;}
.present_records_compellation{width:15%;float:left;color:#323232;font-size:16px;line-height:26px;}
.present_records_money{width:46%;float:left;color:#2ca0e3;font-size:12px;line-height:26px;padding:0 2%;}
.present_records_time{width:35%;float:left;color:#9f9f9f;font-size:12px;line-height:26px;text-align: right;}
.present_records_info{width:100%;float:left;padding:1% 0;}
.present_records_nickname{width:100%;font-size:12px;line-height:26px;color:#9f9f9f;}
.present_records_number{width:100%;font-size:12px;line-height:26px;color:#9f9f9f;}
/*提现记录查询*/
.extract_infor .extract_infor_details{width:100%;background:#f6f6f6;float:left;padding:2%;}
.extract_infor {width:100%;height:100%;position: fixed;left:0;top:8%;z-index:99;display: none;background:#f6f6f6;}
.extract_infor .show {display: block!important;}
.extract_infor .extract_infor_details {overflow: hidden;width:100%;height: auto;position: absolute;top:1%;right:-8px;}
.extract_infor .extract_infor_list{width:100%;margin:2% 0;}
.extract_infor_lists{width:96%;padding:3% 2%;float:left;background:#fff;border-bottom:1px solid #e3e3e3;}
.extract_infor_lists_left{width:25%;float:left;font-size:16px;line-height:26px;color:#323232;}
.extract_infor_lists_right{width:75%;float:left;}
.extract_infor_name_inps{width:100%;border:none;background: none;font-size:16px;line-height: 26px;color: #868686;}
/*刷卡投币统计*/
.coin_countings{width:100%;float:left;margin:5% 0 0 0;border-top:1px solid #e3e3e3;}
.consume_summary{width:96%;float:left;padding:3% 2%;background:#fff;border-bottom:1px solid #e3e3e3;font-size:14px;line-height:26px;}
.amount_classification{width:90%;float:left;padding:2% 5%;background:#fff;border-bottom:1px solid #e3e3e3;}
.coin_operated_classification{width:49%;float:left;text-align: center;padding:3% 0;border-right:1px solid #d2d2d2;}
.coin_operated_name{width:100%;color:#323232;font-size:16px;line-height:26px;padding:1% 0;}
.coin_operated_money{width:100%;color:#df3d3e;font-size:20px;line-height:26px;padding:1% 0;}
.coin_operated_frequency{width:100%;color:#919191;font-size:12px;line-height:26px;padding:1% 0;}
.swing_card_classification{width:50%;float:left;text-align: center;padding:3% 0;}
.swing_card_name{width:100%;color:#323232;font-size:16px;line-height:26px;padding:1% 0;}
.swing_card_money{width:100%;color:#df3d3e;font-size:20px;line-height:26px;padding:1% 0;}
.swing_card_frequency{width:100%;color:#919191;font-size:12px;line-height:26px;padding:1% 0;}
.check_details{width:100%;margin:5% 0 0 0;float:left;text-align: center;}
.btn_check_details{padding:1% 5%;border:1px solid #2ca0e3;background:none;color:#2ca0e3;font-size:14px;line-height:26px;}
/*详情*/
.coin_counting_details{width:100%;float:left;}
.coin_counting_details_lists{width:96%;float:left;padding:0 2%;}
.coin_counting_details_list{width:96%;float:left;padding:3% 2%;margin:2% 0;background:#fff;border-radius:10px;}
.category_name{width:100%;float:left;padding:1% 0;}
.category_name1{padding:0 2%;color:#323232;font-size:16px;line-height:26px;display:inline-block;float:left;}
.category_name2{padding:0 2%;color:#323232;font-size:16px;line-height:26px;display:inline-block;float:left;}
.category_info{width:100%;float:left;padding:1% 0;}
.category_info1{padding:0 2%;color:#9f9f9f;font-size:12px;line-height:26px;display:inline-block;float:left;}
.category_info2{padding:0 2%;color:#9f9f9f;font-size:12px;line-height:26px;display:inline-block;float:left;}
.category_info_time{padding:0 2%;color:#9f9f9f;font-size:12px;line-height:26px;display:inline-block;float:left;}
.querys{width:96%;float:left;text-align:right;padding:3% 2%;color:#323232;font-size:16px;line-height:26px;}
/*刷卡投币查询*/
.statistical_query .statistical_query_details{width:100%;background:#f6f6f6;float:left;padding:2%;}
.statistical_query {width:100%;height:100%;position: fixed;left:0;top:8%;z-index:99;display: none;background:#f6f6f6;}
.statistical_query .show {display: block!important;}
.statistical_query .statistical_query_details {overflow: hidden;width:100%;height: auto;position: absolute;top:1%;right:-8px;}
.statistical_query .statistical_query_list{width:100%;margin:2% 0;}
.statistical_query_lists{width:96%;padding:3% 2%;float:left;background:#fff;border-bottom:1px solid #e3e3e3;}
.statistical_query_lists_left{width:25%;float:left;font-size:16px;line-height:26px;color:#323232;}
.statistical_query_lists_right{width:75%;float:left;}
.statistical_query_name_inps{width:100%;border:none;background: none;font-size:16px;line-height: 26px;color: #868686;}
/*微信支付统计*/
.payment_census{width:100%;float:left;margin:5% 0 0 0;border-top:1px solid #e3e3e3;}
.billing_summary{width:96%;float:left;padding:3% 2%;background:#fff;border-bottom:1px solid #e3e3e3;font-size:14px;line-height:26px;}
.total_income{width:100%;float:left;padding:3% 0;background:#fff;border-bottom:1px solid #e3e3e3;}
.total_income_name{width:100%;float:left;padding:3% 0;color:#323232;font-size:16px;line-height:26px;text-align: center;}
.total_income_money{width:100%;float:left;padding:3% 0;color:#df3d3e;font-size:16px;line-height:26px;text-align: center;}
.income_classification{width:100%;float:left;}
.consume_classification{width:50%;text-align: center;float:left;}
.consume_classification_name{color:#919191;font-size:12px;line-height:26px;width:100%;}
.consume_classification_num{color:#323232;font-size:12px;line-height:26px;width:100%;}
.recharge_classification{width:50%;text-align: center;float:left;}
.recharge_classification_name{color:#919191;font-size:12px;line-height:26px;width:100%;}
.recharge_classification_num{color:#323232;font-size:12px;line-height:26px;width:100%;}

.total_expenditure{width:100%;float:left;padding:3% 0;background:#fff;border-bottom:1px solid #e3e3e3;}
.total_expenditure_name{width:100%;float:left;padding:3% 0;color:#323232;font-size:16px;line-height:26px;text-align: center;}
.total_expenditure_money{width:100%;float:left;padding:3% 0;color:#df3d3e;font-size:16px;line-height:26px;text-align: center;}
.expenditure_classification{width:100%;float:left;}
.procedures_classification{width:33%;text-align: center;float:left;}
.procedures_classification_name{color:#919191;font-size:12px;line-height:26px;width:100%;}
.procedures_classification_num{color:#323232;font-size:12px;line-height:26px;width:100%;}
.put_forward_classification{width:33%;text-align: center;float:left;}
.put_forward_classification_name{color:#919191;font-size:12px;line-height:26px;width:100%;}
.put_forward_classification_num{color:#323232;font-size:12px;line-height:26px;width:100%;}
.refund_classification{width:33%;text-align: center;float:left;}
.refund_classification_name{color:#919191;font-size:12px;line-height:26px;width:100%;}
.refund_classification_num{color:#323232;font-size:12px;line-height:26px;width:100%;}
/*详情*/
.payment_statistics_details{width:100%;float:left;}
.payment_statistics_details_lists{width:96%;margin:2%;float: left;}
.payment_statistics_details_list{width:98%;float:left;padding:3% 1%;background:#fff;border-radius:10px;}
.payment_statistics_details_list_time{width:100%;float:left;color:#9f9f9f;font-size:12px;line-height:26px;}
.payment_income_classification{width:100%;float:left;}
.payment_income_classification01{width:33%;float:left;font-size:12px;line-height:26px;color:#323232;}
.payment_income_classification02{width:33%;float:left;font-size:12px;line-height:26px;color:#323232;}
.payment_expenditure_classification{width:100%;float:left;}
.payment_expenditure_classification01{width:34%;float:left;font-size:12px;line-height:26px;color:#323232;}
.payment_expenditure_classification02{width:33%;float:left;font-size:12px;line-height:26px;color:#323232;}
.payment_expenditure_classification03{width:33%;float:left;font-size:12px;line-height:26px;color:#323232;}
/*查询*/
.weChat_payment{width:100%;float:left;}
/*数据统计*/

/*参数设置*/
.parameter_setting{width:100%;float:left;}
.parameter_setting_list{width:100%;float:left;}
.parameter_setting_lists{width:96%;padding:3% 2%;border-bottom:1px solid #e3e3e3;float:left;}
.parameter_setting_lists_left{width:10%;float:left;text-align: center;}
.parameter_setting_lists_center{width:78%;float:left;font-size:16px;line-height:32px;padding:0 0 0 2%;color:#323232;}
.parameter_setting_lists_right{width:10%;float:left;text-align: center;padding:2% 0 0 0;}
/*制水参数*/
.water_production{width:100%;float:left;margin:5% 0 0 0;}
.water_production_lists{width:100%;float:left;}
.water_production_list{width:96%;float:left;border-bottom:1px solid #e3e3e3;padding:2% 2%;background:#fff;}
.water_production_list_left{width:60%;float:left;text-align:left;color:#646464;font-size:16px;line-height:26px;}
.water_production_list_right{width:40%;float:left;text-align:center;}
.water_making{border:none;background:none;font-size:16px;line-height:26px;color:#323232;width:100%;text-align:center;}
.water_production_btn{width:90%;margin:10% 5% 0;float:left;text-align: center;}
.btn_recovery{padding:2% 8%;margin:0 3%;background:#df3d3e;border:none;border-radius:25px;color:#fff;font-size:16px;line-height:26px;}
.btn_water_making{padding:2% 8%;margin:0 3%;background:#2ca0e3;border:none;border-radius:25px;color:#fff;font-size:16px;line-height:26px;}
/*售水参数*/
.water_sale{width:100%;float:left;margin:5% 0 0 0;}
.water_sale_lists{width:100%;float:left;}
.water_sale_list{width:96%;float:left;border-bottom:1px solid #e3e3e3;padding:2% 2%;background:#fff;}
.water_sale_list_left{width:60%;float:left;text-align:left;color:#646464;font-size:16px;line-height:26px;}
.water_sale_list_right{width:40%;float:left;text-align:center;}
.water_sales{border:none;background:none;font-size:16px;line-height:26px;color:#323232;width:100%;text-align:center;}
.water_sale_btn{width:90%;margin:10% 5% 0;float:left;text-align: center;}
.btn_recovery{padding:2% 8%;margin:0 3%;background:#df3d3e;border:none;border-radius:25px;color:#fff;font-size:16px;line-height:26px;}
.btn_water_sale{padding:2% 8%;margin:0 3%;background:#2ca0e3;border:none;border-radius:25px;color:#fff;font-size:16px;line-height:26px;}
/*系统参数*/
.system_parameters{width:100%;float:left;margin:5% 0 0 0;}
.system_parameters_lists{width:100%;float:left;}
.system_parameters_list{width:96%;float:left;border-bottom:1px solid #e3e3e3;padding:2% 2%;background:#fff;}
.system_parameters_list_left{width:60%;float:left;text-align:left;color:#646464;font-size:16px;line-height:26px;}
.system_parameters_list_right{width:40%;float:left;text-align:center;}
.economy_parameter{border:none;background:none;font-size:16px;line-height:26px;color:#323232;width:100%;text-align:center;}
.system_parameters_btn{width:90%;margin:10% 5% 0;float:left;text-align: center;}
.btn_recovery{padding:2% 8%;margin:0 3%;background:#df3d3e;border:none;border-radius:25px;color:#fff;font-size:16px;line-height:26px;}
.btn_system{padding:2% 8%;margin:0 3%;background:#2ca0e3;border:none;border-radius:25px;color:#fff;font-size:16px;line-height:26px;}
/*参数设置*/

/*我的账单*/
.my_bill{width:100%;float:left;}
.my_bill_center{width:100%;float:left;margin:5% 0 0 0;}
.my_bill_center_top{width:96%;float:left;padding:3% 2%;background:#fff;border-bottom:1px solid #d2d2d2;}
.my_bill_center_top_left{width:50%;float:left;color:#323232;font-size:12px;line-height:26px;}
.my_bill_center_top_right{width:50%;float:left;text-align: right;}
.immediate_bundling{padding:1% 8%;background:#10ba5c;border:none;color:#fff;font-size:12px;line-height:26px;border-radius:15px;}
.my_bill_center_balance{width:96%;float:left;padding:3% 2%;background:#fff;border-bottom:1px solid #d2d2d2;}
.my_bill_center_balance_top{width:100%;float:left;padding:2% 0;text-align: center;}
.balance_name{color:#323232;font-size:14px;line-height:26px;margin:1% 0;}
.balance_number{color:#df3d3e;font-size:14px;line-height:26px;margin:1% 0;}
.my_bill_center_balance_middle{width:100%;float:left;padding:2% 0;}
.my_bill_center_balance_middle_left{width:50%;float:left;}
.pay{width:100%;float:left;text-align: center;}
.pay_name{width:85%;float:left;padding:0 5% 0 10%;}
.pay_names{width:46%;float:left;display:inline-block;padding:0 2%;color:#919191;font-size:14px;line-height:26px;text-align:left;}
.pay_number{width:46%;float:left;display:inline-block;padding:0 2%;color:#f2a81b;font-size:14px;line-height:26px;text-align: center;}
.pay_pen_name{width:85%;float:left;padding:0 5% 0 10%;}
.pay_pen_names{width:46%;float:left;display:inline-block;padding:0 2%;color:#919191;font-size:14px;line-height:26px;text-align:left;}
.pay_pen_number{width:46%;float:left;display:inline-block;padding:0 2%;color:#323232;font-size:14px;line-height:26px;text-align: center;}
.my_bill_center_balance_middle_right{width:50%;float:left;}
.income{width:100%;float:left;text-align: center;}
.income_name{width:85%;float:left;padding:0 5% 0 10%;}
.income_names{width:46%;float:left;display:inline-block;padding:0 2%;color:#919191;font-size:14px;line-height:26px;text-align:left;}
.income_number{width:46%;float:left;display:inline-block;padding:0 2%;color:#f2a81b;font-size:14px;line-height:26px;text-align: center;}
.income_pen_name{width:85%;float:left;padding:0 5% 0 10%;}
.income_pen_names{width:46%;float:left;display:inline-block;padding:0 2%;color:#919191;font-size:14px;line-height:26px;text-align:left;}
.income_pen_number{width:46%;float:left;display:inline-block;padding:0 2%;color:#323232;font-size:14px;line-height:26px;text-align: center;}
.receivables{width:96%;float:left;padding:3% 2%;background:#fff;border-bottom:1px solid #d2d2d2;}
.receivables_left{width:49%;float:left;text-align:center;border-right:1px solid #d2d2d2;}
.payment_rate{width:100%;float:left;color:#323232;font-size:16px;line-height:26px;padding:1% 0;}
.payment_rate_number{width:100%;float:left;color:#df3d3e;font-size:16px;line-height:26px;padding:1% 0;}
.receivables_right{width:50%;float:left;text-align:center;}
.amount_cash{width:100%;float:left;color:#323232;font-size:16px;line-height:26px;padding:1% 0;}
.amount_cash_number{width:100%;float:left;color:#df3d3e;font-size:16px;line-height:26px;padding:1% 0;}
.binding_information{width:96%;float:left;padding:3% 2%;background:#fff;border-bottom:1px solid #d2d2d2;}
.binding_information_left{width:80%;float:left;}
.weChat_nickname{width:100%;color:#323232;font-size:16px;line-height:26px;}
.real_name{width:100%;color:#323232;font-size:16px;line-height:26px;}
.binding_information_right{width:20%;float:left;}
.immediate_binding{padding:2% 6%;background:none;border:1px solid #10ba5c;color:#10ba5c;margin:16% 0;border-radius:15px;font-size:14px;}
.view_details{width:100%;float:left;margin:5% 0 0 0;text-align: center;}
.btn_check{padding:1% 4%;background:none;border:1px solid #2ca0e3;color:#2ca0e3;font-size:16px;line-height:26px;}
/*提现绑定*/
.sidenav{width:100%;float:left;}
.present_bindings{width:100%;float:left;}
.present_bindings .active{color:#10ba5c;border-bottom:1px solid #10ba5c;}
.new_l_l{padding:4% 0;display:inline-block;width:50%;float:left;text-align:center;color: #fff;}
.sidenav .active{color:#00D8FF;}
.scd_r{width:100%;margin: 0 auto;}
.code{width:100%;text-align: center;float:left;padding:10% 0;}
.prompt{color:#323232;font-size:14px;line-height:26px;padding:2% 0;}
.prompts{color:#323232;font-size:12px;line-height:26px;padding:2% 0;}
.btn_code{width:100%;float:left;}
.btn_binding{width:96%;margin:0 2%;background:#10ba5c;font-size:16px;line-height:26px;text-align:center;border:none;border-radius:25px;padding:3% 0;color:#fff;}
.card_prompt{width:96%;padding:3% 2%;text-align:center;color:#323232;font-size:12px;line-height:26px;margin:5% 0 0 0;}
.card_lists{width:100%;float:left;}
.card_list{width:96%;padding:3% 2%;background:#fff;border-bottom:1px solid #e3e3e3;float:left;}
.card_list_left{width:25%;float:left;font-size:16px;line-height:26px;color:#323232;}
.card_list_right{width:75%;float:left;}
.inp_card{border:none;background:none;font-size:16px;line-height:26px;width:100%;}
.card_list_right select{border:none;font-size:16px;line-height:26px;}
.btn_card{width:100%;float:left;}
.btn_card_binding{width:96%;margin:5% 2% 0 2%;background:#10ba5c;border:none;border-radius:25px;font-size:16px;line-height:26px;color:#fff;padding:3% 0;}
/*订单详情*/
.order_details{width:100%;float:left;}
.time_selection{width:100%;float:left;padding:3% 0;}
.time_gate{width:96%;padding:0 2%;text-align: center;}
.times{width:70%;float:left;}
.start_time{width:40%;float:left;border:1px solid #10ba5c;font-size:12px;line-height:26px;padding:1% 0;background:none;text-align: center;}
.end_time{width:40%;float:left;border:1px solid #10ba5c;font-size:12px;line-height:26px;padding:1% 0;background:none;text-align: center;}
.btn_times{width:30%;float:left;text-align:right;}
.time_query{width:60%;border:none;padding:6% 3%;background:#10ba5c;color:#fff;border-radius:15px;}
.order_details_lists{width:100%;float:left;}
.order_details_list{width:92%;margin:2%;float:left;background:#fff;padding:3% 2%;border-radius:10px;}
.order_details_list_top{width:100%;float:left;padding:2% 0;}
.order_details_list_top_left{width:50%;float:left;}
.poundage{display: inline-block;color:#323232;font-size:16px;line-height:26px;}
.poundage_source{display:inline-block;color:#f2a81b;border:1px solid #f2a81b;font-size:12px;padding:1% 2%;margin:0 2%;}
.order_details_list_top_right{width:50%;text-align:right;float:left;color:#9f9f9f;font-size:12px;line-height:26px;}
.account_sum{color:#323232;font-size:12px;line-height:26px;}
.order_details_list_bottom{width:100%;float:left;padding:2% 0;}
.order_details_list_bottom_left{width:85%;float:left;}
.minus_sum{display:inline-block;color:#323232;font-size:16px;line-height:26px;}
.minus_time{display:inline-block;color:#9f9f9f;font-size:12px;line-height:26px;margin:0 2%;}
.order_details_list_bottom_right{width:15%;float:left;text-align:right;}
.btn_more{width:100%;float:left;padding:2% 5%;background:#10ba5c;border:none;border-radius:15px;color:#fff;font-size:14px;}
.consumption{display: inline-block;color:#323232;font-size:16px;line-height:26px;}
.consumption_source{display:inline-block;color:#2ca0e3;border:1px solid #2ca0e3;font-size:12px;padding:1% 2%;margin:0 2%;}
.add_sum{display:inline-block;color:#323232;font-size:16px;line-height:26px;}
.add_time{display:inline-block;color:#9f9f9f;font-size:12px;line-height:26px;margin:0 2%;}
/*解绑验证*/
.binding_verification{width:100%;float:left;}
.binding_verification_lists{width:100%;float:left;margin:5% 0 0 0;}
.binding_verification_list{width:96%;float:left;padding:3% 2%;background:#fff;}
.binding_verification_list_left{width:25%;float:left;color:#323232;font-size:14px;line-height:26px;}
.binding_verification_list_right{width:75%;float:left;}
.unbind_information{width:100%;border:none;background:none;font-size:14px;line-height:26px;color:#868686;}
.binding_verification_btn{width:100%;float: left;}
.btn_untie{width:96%;margin:5% 2%;background:#10ba5c;border:none;color:#fff;padding:2% 0;border-radius:25px;font-size:16px;line-height:26px;}
/*订单详情更多*/
.order_details_more{width:100%;float:left;}
.order_details_more_lists{width:100%;float:left;margin:5% 0 0 0;}
.order_details_more_list{width:96%;padding:0 2%;background:#fff;float:left;border-bottom:1px solid #e3e3e3;}
.order_details_more_list_left{color:#323232;font-size:14px;line-height:26px;width:20%;float:left;padding:3% 0;}
.order_details_more_list_right{color:#323232;font-size:14px;line-height:26px;width:80%;float:left;padding:3% 0;text-align: center;}
/*我的账单*/

/*修改密码*/
.cipher_code{width:100%;float:left;}
.cipher_code_list{width:100%;float:left;margin:5% 0 0 0;}
.cipher_code_lists{width: 96%;float: left;background: #fff;border-bottom:1px solid #e3e3e3;padding:3% 2%;}
.cipher_code_lists_left{width:10%;float:left;}
.cipher_code_lists_right{width:90%;float:left;}
.original_cipher_inp{width:100%;border:none;background:none;font-size:14px;line-height:24px;color:#868686;}
.new_code_inp{width:100%;border:none;background:none;font-size:14px;line-height:24px;color:#868686;}
.confirm_pass_inp{width:100%;border:none;background:none;font-size:14px;line-height:24px;color:#868686;}
.cipher_code_btn{width:100%;float:left;margin:5% 0 0 0;}
.btn_save_password{width:96%;margin:0 2%;background:#10ba5c;border:none;color:#fff;font-size:16px;line-height:26px;padding:2% 0;border-radius:25px;}
/*修改密码*/

/*登录*/
.log_on{width:100%;color:#fff;font-size:20px;line-height:26px;text-align: center;margin:30% 0 0 0;}
.login_box{width:80%;float:left;margin:10%;background:rgba(255,255,255,0.3);padding:6% 0;border-radius:8px;}
.inp_account{width:90%;float:left;margin:0 5%;border-bottom:1px solid #fff;padding:5% 0;}
.inp_accounts{width:90%;float:left;margin:0 5%;padding:5% 0;}
.img_account{width:10%;float:left;}
.account_name{width:90%;float:left;}
.inp_account_name{border:none;background:none;color:#fff;font-size:16px;line-height:24px;}
.inp_password_name{border:none;background:none;color:#fff;font-size:16px;line-height:24px;}
.login_btn{width:100%;margin:5% 0 0 0;}
.btn_log_on{width:80%;margin:0 10%;background:rgba(255,255,255,0.4);border:none;border-radius:8px;color:#fff;font-size:14px;line-height:26px;padding:3% 0;}
.inp_place{color:#fff;}
.inp_place::-webkit-input-placeholder{color: #fff;}
.inp_place::-moz-placeholder{color: #fff;}
.inp_place:-ms-input-placeholder{color:#fff;}
/*登录*/

/*我的水卡*/
.water_card{width:100%;float:left;}
.water_card_img{width:90%;margin:3% 5%;float:left;background:url(../img/img_water_card.png) no-repeat;background-size:100%;}
.card_number{width:96%;padding:2%;color:#fff;font-size:16px;line-height:26px;}
.card_balance{width:96%;padding:13% 2%;color:#01228c;font-size:30px;line-height:40px;text-align: center;}
.balances{color:#fff;font-size:14px;line-height:40px;padding:0 2%;}
.cardholder{width:96%;padding:5% 2%;float:left;}
.cardholder_name{width:25%;float:left;display: inline-block;padding:0 2%;}
.cardholder_names{color:#fff;font-size:12px;line-height:26px;}
.cardholder_compellation{color:#fff;font-size:16px;line-height:26px;}
.card_state{width:25%;float:left;display: inline-block;padding:0 2%;}
.card_states{color:#fff;font-size:12px;line-height:26px;}
.card_estate{color:#fff;font-size:16px;line-height:26px;}
/*我的水卡*/

/*水卡消费*/
.card_consumption{width:100%;float:left;}
.card_consumption_lists{width:100%;margin:5% 0 0 0;float:left;}
.card_consumption_list{width:92%;margin:0 2%;padding:3% 2%;background:#fff;border-radius:8px;float:left;}
.purifier_id{width:100%;font-size:16px;line-height:26px;color:#323232;float:left;}
.purifier_time_consume{width:100%;float:left;padding:2% 0;}
.purifier_time{width:50%;float:left;color:#9f9f9f;font-size:12px;line-height:26px;}
.purifier_consume{width:50%;float:left;color:#df3d3e;font-size:16px;line-height:26px;text-align: right;}
/*水卡消费*/

    .page span{
    background: #10ba5c;
    color: #fff;
    font-size: 14px;
    line-height: 26px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    }
    .page{clear: both;height: 50px;line-height: 50px;padding-bottom: 10px;}
    .pbox{width: 100%;text-align: center;}
    a{text-decoration: none;}